/* MAIN SETTINGS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
a, a:hover {
    text-decoration: none;
    color: #000000;
}
.main {
    width: 1220px;
    margin: 0 auto;
}
/* HEAD STYLE */
.section_head {
    padding-bottom: 20px;
}
.topHead {
    font-size: 13px;
    font-weight: 300;
    padding: 10px 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.headMoney, .headGuide, .headHelp, .headMedia, .headSell {
    padding-right: 15px;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 35px;
}
.headSearch{
position: relative;
}
.headSearchInput {
    background-color: #DBDBDB;
    border: 0;
    height: 37px;
    width: 500px;
}
.headSearchButton {
    position: absolute;
    background-color: #E33333;
    border: 0;   
    width: 37px;
    height: 37px;
}
.headMenu {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headMenuSp {
    display: block;
    margin: 0 -50px;
   
}
.bottomHead{
    font-size: 17px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
}
.bottomCategories {
    padding-right: 250px;
}
.bottomHeadMenu {
    width: 580px;
    display: flex;
    justify-content: space-between;
}

/* SLIDERS STYLE */
.sliders {
    position: relative;
  max-width: 1800px;
  overflow: hidden;
  height: 490px;
}
.sliders img {
    position: absolute;
    left: -21%;
}

/* DEILS STYLE  */
.section_deils {
    transform: translateY(-140px);
}
.deil_block {
    background: #fff;
    padding-top: 20px;
}
.deilHead {
    padding: 0 25px 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.deilHeading {
    display: flex;
    align-items: center;

}
.deilHeading h2 {
    padding-right: 25px;
    font-size: 30px;
}
.deilClock {
    display: flex;
    align-items: center;
}

.deilsClockText {
    padding-right: 15px;
    font-size: 28px;
}
.deilsClocks {
    font-size: 28px;
}
.deilHeadMore {
    font-size: 20px;
}
.deilsProducts {
    padding: 22px;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.deilsProduct {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
   
}
.deilsProduct img {
    border-radius: 15px;
    
    width: 220px;
    height: 240px;
}
.deilsPrice {
    padding: 10px 0 5px;
    font-size: 22px;
    font-weight: 500;
}
.deilsOldPrice {
    font-size: 15px;
    text-decoration: line-through;
}

/* JOYBUY STYLE */
.juybuy_block {
    padding: 35px;
    background-color: #F5F5F5;
}
.juybuy_block h2 {
    font-size: 25px;
    padding-bottom: 30px;
}
.joys {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.joyblock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.joyimg {
    padding-right: 20px;
}
.joyimg img {
    width: 32px;
    height: 27px;
}
.joytext h5 {
    color: #666;
    font-size: 13px;
    padding-bottom: 8px;
    
}
.joytext span {
    color: #999;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    width: 120px;
}