/* MAIN SETTINGS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
a, a:hover {
    text-decoration: none;
    color: #000000;
}
.main {
    width: 1270px;
    margin: 0 auto;
}
/* HEAD STYLE */

.topHead {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.headMoney, .headGuide, .headHelp, .headMedia, .headSell {
    padding-right: 15px;
}
