/* MAIN SETTINGS */
html {
    box-sizing: border-box;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
a:hover{
    color:#e33333;
}
body {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #000000;
}
.main {
    width: 1220px;
    margin: 0 auto;
}
*:focus {
    outline: none;
}
/* HEAD STYLE */
.section_head {
    padding-bottom: 10px;
}

.navHead ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    
  }
  
  .navHead li {
    color: #000;
    display: block;
    padding: 15px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  .navHead li a {
    color: #000;
    font-size: 13px;
  }
  
  .navHead li:hover {
    cursor: pointer;
  }
  .dropdown {
    box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
    min-height: 20px;
    min-width: 120px;
  }
  .navHead ul li ul {
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    z-index: 15;
    
  }
  
.navHead ul li:hover > ul,
.navHead ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
  
.navHead ul li ul li {
    clear: both;
    width: 100%;
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.headSearch{
position: relative;
}
.headSearchInput {
    background-color: #DBDBDB;
    border: 0;
    height: 37px;
    width: 500px;
}
.headSearchButton {
    position: absolute;
    background-color: #E33333;
    border: 0;   
    width: 37px;
    height: 37px;
}
.headMenu {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headIcon {
    color: #E33333;
    padding-right: 8px;
    font-size: 18px;
}
.headMenuSp {
    display: block;
    margin: 0 -50px;
   
}
.bottomHead{
    font-size: 17px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
}

.bottomCategories {
    position: relative;
    padding-right: 250px;
    cursor: pointer;
}
/* 
CATEGORY
*/


.category-heading {
    position: relative;
    padding-right: 180px;
    z-index: 150;
    background-color: #fff;
}
.category-heading:hover > div {
    display: block;
    
}
.category-menu-list {
    background: #ffffff none repeat scroll 0 0;
    
    width: 200px;
    z-index: 99;
    
    display: none;
    position: absolute;
    
    
}
.category-menu-list > ul,  .category-menu-list ul li {
    border-bottom: 1px solid #eee;
    position: relative;
    list-style-type: none;
    
}
.category-menu-list ul li:last-child {
    border-bottom: none;
}
.category-menu-list ul li a {
    
    color: #333;
    display: block;
    font-size: 14px;
    letter-spacing: 0.4px;
    padding: 12px 20px;
    text-transform: capitalize;
    background-color: #fff;
    transition: all .3s ease 0s;
}

.category-menu-list ul li:hover a {
    color: #ff4136;
    
}
.category-menu-list ul li .category-menu-dropdown {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    left: 110%;
    opacity: 0;
    visibility: hidden;
    padding: 52px 30px;
    position: absolute;
    text-align: left;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 800px;
    z-index: 999999999;
}
.category-menu-list ul li:hover .category-menu-dropdown {
    opacity: 1;
    left: 100%;
    visibility: visible;
}
.category-menu-list ul li .category-common {
    float: left;
    padding-right: 27px;
    width: 50%;
}
.category-menu-list ul li .category-common2 {
    float: left;
    padding-right: 27px;
    width: 33.333%;
}
.category-menu-list ul li .category-common h4,
.category-menu-list ul li .category-common2 h4 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.category-menu-list ul li .category-common ul li,
.category-menu-list ul li .category-common2 ul li {
    border: medium none;
}
.category-menu-list ul li .category-common ul li a,
.category-menu-list ul li .category-common2 ul li a {
    padding: 3px 0;
    color: #333;
    background-color: transparent;
}
.category-menu-list ul li .category-common ul li a:hover,
.category-menu-list ul li .category-common2 ul li a:hover {
    background-color: transparent;
    color: #ff4136;
}
.category-menu-list ul li .mega-banner-img a {
    padding: 0;
    background-color: transparent;
}
.category-menu-list ul li .mega-banner-img a,
.category-menu-list ul li .category-menu-dropdown-right .menu-right-img a {
    padding: 0;
    background-color: transparent;
}
.category-menu-list ul li a i {
    float: right;
    font-size: 14px;
    margin-top: 5px;
}
.category-menu-dropdown-top {
    overflow: hidden;
}
.category-menu-dropdown-left {
    float: left;
    overflow: hidden;
    width: 65%;
}
.category-menu-dropdown-bottom {
    background-color: #f6f6f6;
    display: block;
    overflow: hidden;
    padding: 40px 10px;
}
.single-category-brand {
    float: left;
    padding: 0 34px;
    width: 25%;
}
.category-menu-list ul li .category-menu-dropdown-bottom .single-category-brand a {
    padding: 0;
    opacity: .4;
}
.category-menu-list ul li .category-menu-dropdown-bottom .single-category-brand a:hover {
    opacity: 1;
}
.category-menu-dropdown-right {
    overflow: hidden;
    width: 35%;
}
.category-menu-list > ul > li > a > img {
    margin-right: 2px;
    width: 15px;
}
.categoryIcon {
    font-size: 18px;
    padding: 0 10px;
}

/* */
.bottomHeadMenu {
    width: 580px;
    display: flex;
    justify-content: space-between;
}

/* SLIDERS STYLE */
.sliders {
    position: relative;
    max-width: 1800px;
    overflow: hidden;
    height: 490px;
}
.sliders img {
    position: absolute;
    left: -21%;
}
.showSlide {  
    display: none  
}
.showSlide img {  
    position: absolute;
    left: -21%;
}
.left, .right {  
    cursor: pointer;  
    position: absolute;  
    top: 50%;  
    width: auto;  
    padding: 25px 20px;  
    margin-top: -22px;  
    color: white;  
    font-weight: bold;  
    font-size: 30px;  
    transition: 0.6s ease;  
    border-radius: 0 25px 25px 0;  
}  
.right {  
    right: 0;  
    border-radius: 25px 0 0 25px;  
}  
    .left:hover, .right:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }
/* Fading animation */  
.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  
/* DEILS STYLE  */
.section_deils {
    transform: translateY(-140px);
}
.deil_block {
    background: #fff;
    padding-top: 20px;
}
.deilHead {
    padding: 0 25px 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.deilHeading {
    display: flex;
    align-items: center;

}
.deilHeading h2 {
    padding-right: 25px;
    font-size: 30px;
}
.deilClock {
    display: flex;
    align-items: center;
}

.deilsClockText {
    padding-right: 15px;
    font-size: 28px;
}
.deilsClocks {
    font-size: 28px;
}
.deilHeadMore {
    font-size: 20px;
}
.deilsProducts {
    padding: 22px;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.deilsProduct {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
   
}
.deilsProduct img {
    border-radius: 15px;
    
    width: 220px;
    height: 240px;
}
.deilsPrice {
    padding: 10px 0 5px;
    font-size: 22px;
    font-weight: 500;
}
.deilsOldPrice {
    font-size: 15px;
    text-decoration: line-through;
}

/* JOYBUY STYLE */
.section_juybuy {
    transform: translateY(-80px);
}
.juybuy_block {
    padding: 45px 35px;
    background-color: #F5F5F5;
}
.juybuy_block h2 {
    font-size: 25px;
    padding-bottom: 40px;
}
.joys {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.joyblock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.joyimg {
    padding-right: 20px;
}
.joyimg img {
    width: 32px;
    height: 27px;
}
.joytext h5 {
    color: #666;
    font-size: 13px;
    padding-bottom: 8px;
    
}
.joytext span {
    color: #999;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    width: 120px;
}

/* FEATURED STYLE */
.section_featured {
    padding-bottom: 50px;
}

.featured_block h2 {
    padding-left: 30px;
    font-size: 25px;
    padding-bottom: 30px;
}
.featuredCats {
    box-sizing: border-box;
    border: 1px solid #f3f3f3;
    display: flex;
    
}
.feaduredCat {
    box-sizing: border-box;
    padding: 15px 0 0;
    position: relative;
    width: 17%;
    height: 200px;
}
.feaduredCat h3 {
    z-index: 5;
    position: absolute;
    padding: 10px 35px;
    font-weight: 300;

}
.feaduredCat img{
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}

/* WEEKLY STYLE */
.section_wicky {
    position: relative;
    padding-bottom: 40px;
}
.section_wicky::before {
    content: ''; 
    position: absolute; 
    display: block;
    width: 2px;
    height: 30px;
    background-color: #D43530;
    left: 35px;
    top: 57px;

}
.wickyLogo {
    position: absolute;
    transform: rotate(90deg);
    font-size: 25px;
    font-weight: 500;
    left: -165px;
    top: 300px;
    letter-spacing: 10px;
}
.wicky_block h2 {
    padding-left: 30px;
    font-size: 25px;
    padding-bottom: 30px; 
}
.wickys {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 15px;
}
.wicky {
    
    width: 290px;
    height: 100px;
    background-color: #000000;
}
.wickyHead {
    height: 310px;
    background-color: #E5DDD4;
}
.wickyHead2 {
    background: #C7C7C7;
}
.wickyAbout {
    padding: 30px;
    height: 210px;
    background: #F5F5F5;
}
.wickyAbout h3 {
    position: relative;
    font-weight: 500;
    padding-bottom: 20px;
    padding-left: 25px;
    font-size: 18px;
}
.wickyAbout h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #D43530;
    left: -8px;
    top: 8px;
}
.wickyone {
    width: 590px;
    height: 520px;
    background-color: #000000;
}

.wickyoneHead {
    background-color: #F5F5F5;
    height: 310px;
    width: 100%;
}
.wickyoneAbout {
    padding:40px 30px ;
    height: 210px;
    background-color: #E5DDD4;
}
.wickyoneAbout h3 {
    position: relative;
    font-weight: 500;
    padding-bottom: 20px;
    padding-left: 25px;
    font-size: 18px;
}
.wickyoneAbout h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #D43530;
    left: -8px;
    top: 8px;
}
.wickyoneAboutS {
    padding-bottom: 20px;
    color: #666;
}
.wickyonePrice {
    font-size: 20px;
    font-weight: 500;
}

/* REVIEWS STYLE */
.section_reviews {
    padding-bottom: 50px;
}
.reviews_block h2 {
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 25px;
 }
.reviews {
    display: flex;
    justify-content: space-between;
}
.review {
    
    width: 400px;
    height: 370px;
    background-color: #f5f5f5;
}
.review img {
    width: 400px;
    height: 160px;
}
.reviewAbout {
    padding:20px 25px;
}
.reviewAbout h3 {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 50px;
    color: #666;
}
.reviewAboutName {
    position: relative;
    font-weight: 700;
    padding-bottom: 15px;
    padding-left: 25px;
    font-size: 15px;
}
.reviewAboutName::before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #D43530;
    left: 0px;
    top: 5px;
    
}
.reviewText {
    color: #999;
}
/* BANNER STYLE */
.section_banner {
    padding-bottom: 40px;
}
.banners img {
    width: 100%;
}

/* KEYWOARDS STYLE */
.section_keywoards {
    padding-bottom: 50px;
}
.keys {
    width: 100%;
}
.keys h3 {
    padding-bottom: 15px;
}
.keys a {
    line-height: 1.3;
    color: #666;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: -0.5px;
}

/* FOOTER STYLE */
.section_footer {
    background-color: #E0DFDF;
    padding-bottom: 50px;
}
.headUpIcon {
    font-size: 50px;
}
.headUps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
    border-bottom: 1px solid #cfcece;
}
.headUp {
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headUpIcon {

    padding-bottom: 20px;
}
.headUpTitle {
    padding-bottom: 15px;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
}
.headUpDesc {
    text-align: center;
    color: #999;
}

.footAbout {
    padding:30px 0 30px;
}
.footAbout h3 {
    padding-bottom: 15px;
    font-weight: 500;
    font-style: bold;
    font-size: 18px;
}
.footAboutText {
    color:#666;
    line-height: 1.2;
}
.footAboutTextS {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.footAboutLink a {
    padding:0 10px;
    font-weight: 500;
    font-size: 14px;
}

.footMenu {
    width: 190px;
}
.footMenus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #cfcece;
}
.footMenu h3 {
    padding-bottom: 15px;
    font-size: 17px;
}
.footMenu li {
    padding-bottom: 5px;
    list-style: none;
}
.footMenu li:last-child {
    padding-bottom: 25px;
}
.footMenu li a {
    font-weight: 300;
    font-size: 16px;
    color: #999;
    list-style: none;
}
.sponsorsBlocks {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.partnersApp {
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: 500;
}
.partners {
    width: 400px;
}
.payInfo {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.partnersPay {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: flex-start;
    
 
}
.partnersPay h3 {
    font-size: 17px;
    font-weight: 500;
}
.partnersPayImg {
    height: 30px;
    overflow: hidden;
}
.footerSign {
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footerSignForms {
    position: relative;
}
.footerh3 {
    padding-top: 12px;
    padding-right: 15px;
}
.footerSignInput {
    background-color: #fff;
    border: 0;
    height: 30px;
    width: 350px;
    color: #666;
    padding: 4px 10px;
}
.footerSignButton {
    position: absolute;
    background-color: #E33333;
    border: 0;   
    width: 120px;
    height: 30px;
}
.partnersAppImg {
    display: inline-block;
    width: 100px;
    height: 30px;
    background-image: url(http://static.joybuy.com/ept/header/1.1.0/components/footer/i/__sprite.png);
    background-position: 0 -70px;
    vertical-align: middle;
}
.verifiedAppImg {
    display: inline-block;
    width: 54px;
    height: 44px;
    background-image: url(http://static.joybuy.com/ept/header/1.1.0/components/footer/i/__sprite.png);
    background-position: -108px -100px;
    vertical-align: middle;
}
.appsAppImg {
    margin-right: 10px;
    display: inline-block;
    width: 119px;
    height: 35px;
    background-image: url(http://static.joybuy.com/ept/header/1.1.0/components/footer/i/__sprite.png);
    background-position: 0 0;
    vertical-align: middle;
}
.googlePlayImg {
    display: inline-block;
    width: 119px;
    height: 35px;
    background-image: url(http://static.joybuy.com/ept/header/1.1.0/components/footer/i/__sprite.png);
    background-position: 0 -35px;
    vertical-align: middle;
}